.button {
	padding: 25px 0;
	width: 100%;
	border-radius: 42px;
	font-family: 'Arial', sans-serif;
	font-size: 38px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	border: none;
	cursor: pointer;
	&--login {
		color: var(--black-c);
		background-color: var(--white-c);
		transition: all .3s ease-out;
		&:hover {
			opacity: .5;
		}
		&:active {
			color: var(--white-c);
			background-color: var(--black-c);
		}
	}
	&--confirm {
		color: var(--white-c);
		background: #000000 linear-gradient(to top, #1d2f9b 0%, #5ea3f0 100%);
		transition: all .5s ease-out;
		&:hover {
			opacity: .8;
		}
		&:active {
			background : linear-gradient(to top, #5ea3f0 0%, #1d2f9b 100%);
		}
	}
}