.card {
	padding: calc(15px / 2);
	box-shadow: 0 5px 15px rgba(147, 147, 147, 0.3);
	width: 90%;
	position: relative;
	&__logo {
		max-width: 47px;
		max-height: 48px;
		margin-right: 45px;
		border-radius: 50%;
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__header {
		display: flex;
		margin-bottom: calc(30px / 2);
	}
	&__title {
		margin: 0;
		font-size: calc(36px / 2);
		color: var(--light-black-c);
	}
	&__user-info {
		color: var(--gray-c);
		font-size: calc(30px / 2);
		font-weight: 400;
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: calc(25px / 2);
			&:after {
				content: '';
				background-color: var(--gray-c);
				height:calc( 5px / 2);
				width:calc( 5px / 2);
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				margin-left: calc(25px / 2);
			}
		}
	}
	&__body {
		padding: 0 calc(10px / 2);
	}
	&__text {
		font-size: calc(30px / 2);
		font-weight: 400;
		color: var(--light-black-c);
		display: inline-block;
		margin: 0;
		margin-bottom: calc(30px / 2);
	}
	&__link {
		text-decoration: none;
		color: var(--gray-c);
		transition: opacity .3s ease-in;
		&:hover {
			opacity: .7;
		}
	}
	&__rate {
		display: flex;
		align-items: center;
		padding-left:calc( 9px / 2);
	}
	&__rate-btn {
		padding: 0;
		height: calc(42px / 2);
		width:calc(42px / 2);
		border: none;
		outline: none;
		margin-right:calc( 5px / 2);
		cursor: pointer;
		background-color: transparent;
		fill: var(--violet-c);
		transition: all .3s;
		&:hover {
			fill: var(--blue);
		}
		&--dislike {
			position: relative;
			bottom: -2px;
			transform: rotate(180deg);
		}
		&::-moz-focus-inner {
			  border: 0;
		}
	}
	&__num-rate {
		font-size: calc(30px / 2);
		font-weight: 400;
		color: var(--gray-c);
		vertical-align: bottom;
		&:not(:last-of-type) {
			margin-right: calc(45px / 2);
		}
	}
	&__menu {
		outline: none;
		border: none;
		height: calc(30px / 2);
		width: calc(40px / 2);
		background-color: transparent;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}
	.menu {
		&__icon {
			display: inline-block;
			background-color: var(--gray-c);
			height: 5px;
			width: 5px;
			border-radius: 50%;
			position: relative;
			&:after, 
			&:before {
				display: inline-block;
				content: '';
				position: absolute;
				height: 5px;
				width: 5px;
				border-radius: 50%;
				background-color: var(--gray-c);
				left: 50%;
				transform: translateX(-50%);
			}
			&:before {
				top: -7px;
			}
			&:after {
				bottom: -7px;
			}
		}
	}
}