.card {
	padding: 8px;
	box-shadow: 0 5px 15px rgba(147, 147, 147, 0.3);
	width: 90%;
	margin: 0 auto;
	position: relative;
	&__menu-button {
		position: absolute;
		right: 10px;
		top: 10px;
		background-color: transparent;
		padding: 0 5px;
	}
	&__logo {
		width: 45px;
		height: 45px;
		margin-right: 45px;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 50%;
	}
	&__header {
		display: flex;
		margin-bottom: 15px;
	}
	&__title {
		margin: 0;
		font-size: 18px;
		color: var(--light-black-c);
	}
	&__blog-info {
		color: var(--gray-c);
		font-size: 15px;
		font-weight: 400;
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: 13px;
			&:after {
				content: '';
				background-color: var(--gray-c);
				height:5px;
				width:5px;
				border-radius: 50%;
				display: inline-block;
				vertical-align: middle;
				margin-left: 25px;
			}
		}
	}
	&__body {
		padding: 0 5px;
		display: flex;
	}
	&__picture {
		max-width: 30%;
		margin-right: 20px;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 15px;
		font-weight: 400;
		color: var(--light-black-c);
		display: inline-block;
		margin: 0;
	}
	&__link {
		text-decoration: none;
		color: var(--gray-c);
		transition: opacity .3s ease-in;
		&:hover {
			opacity: .7;
		}
	}
	.voting {
		display: flex;
		align-items: center;
		padding-left: 5px;
		&__button {
			padding: 0;
			height: 30px;
			width: 30px;
			border: none;
			outline: none;
			margin-right: 5px;
			cursor: pointer;
			background-color: transparent;
			fill: var(--violet-c);
			transition: all .3s;
			&:hover {
				fill: url(#icon-gradient);
			}
			&::-moz-focus-inner {
				  border: 0;
			}
			&--180deg {
				position: relative;
				transform: rotate(180deg);
			}
		}	
					
		&__rate {
			font-size: 15px;
			font-weight: 400;
			color: var(--gray-c);
			vertical-align: bottom;
			&:not(:last-of-type) {
				margin-right: 25px;
			}
		}
	}
}